
{{ 'custom-liquid.css' | asset_url | stylesheet_tag }}
<div class="section-container {{ section.settings.color_scheme }}-scheme">
    <div class="{{ settings.container_width }}">
        <div class="custom-liquid-content text-{{ section.settings.text_alignment }} width-{{ section.settings.content_width }}">
            {{
                section.settings.custom_liquid
                | replace: '<table', '<div class="table-main"><table'
                | replace: '</table>', '</table></div>'
              }}
        </div>
    </div>
</div>
<style>
    .custom-liquid-content.width-small {
        max-width: 500px
    }
    .custom-liquid-content.width-medium {
        max-width: 800px
    }
    .custom-liquid-content.width-small.text-center,
    .custom-liquid-content.width-medium.text-center {
        margin-left: auto;
        margin-right: auto;
    }
    .custom-liquid-content.width-small.text-right,
    .custom-liquid-content.width-medium.text-right {
        margin-left: auto;
    }
    #shopify-section-{{ section.id }}.shopify-section {
      --top-spacer:{{ section.settings.top_space_desktop }}px;
      --bottom-spacer:{{ section.settings.bottom_space_desktop }}px;
    }
    @media only screen and (max-width:767px) {
      #shopify-section-{{ section.id }}.shopify-section{
        --top-spacer:{{ section.settings.top_space_mobile }}px;
        --bottom-spacer:{{ section.settings.bottom_space_mobile }}px;
      }
    }
    {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "custom-liquid",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:global.common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:global.common.section_visibility.options.always",
          "value": "always"
        },
        {
          "label": "t:global.common.section_visibility.options.small",
          "value": "small"
        },
        {
          "label": "t:global.common.section_visibility.options.large",
          "value": "large"
        }
      ]
    },
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.custom-liquid.settings.content_width.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:global.common.size.value.small"
        },
        {
          "value": "medium",
          "label": "t:global.common.size.value.medium"
        },
        {
          "value": "large",
          "label": "t:global.common.size.value.large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.custom-liquid.settings.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:global.common.alignments.left"
        },
        {
          "value": "center",
          "label": "t:global.common.alignments.center"
        },
        {
          "value": "right",
          "label": "t:global.common.alignments.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.header.color_section.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.header.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:global.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.top_space_desktop.label",
      "default": 85,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.bottom_space_desktop.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.top_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.bottom_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}