{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="section-container {{ section.settings.color_scheme }}-scheme">
  {% if section.settings.image != blank %}
    <div class="account-background-img d-none d-md-block">
      {% render 'image', image: section.settings.image %}
    </div>
  {% endif %}
  <div class="container-fullwidth">
    <div class="row no-gutters">
      <div class="col-12 col-sm-12{% if section.settings.heading != blank or section.settings.description != blank or section.settings.image != blank  %} col-md-7 col-lg-6{% else %} col-md-12 col-lg-12{% endif %}">
        <div class="left-side-content">
          <div class="account-card" id="changePassword">
            <{{ section.settings.seo_heading }} class="account-heading {{ section.settings.heading_size }}">
              {{ 'customer.reset_password.title' | t }}
            </{{ section.settings.seo_heading }}>
            <p class="account-heading">
              {{ 'customer.reset_password.subtext' | t }}
            </p>
            {%- form 'reset_customer_password', class: 'account-form' -%}
                {%- if form.errors -%}
                  <div class="error-message" id="password-error-{{ section.id }}">
                    <p  tabindex="-1"> {{ 'templates.contact.form.error_heading' | t }}</p>
                    <ul class="list-unstyled">
                      {%- for field in form.errors -%}
                        <li>
                          {%- if field == 'form' -%}
                            {{ form.errors.messages[field] }}
                          {%- else -%}
                            <a href="#{{ field }}">
                              {{ form.errors.translated_fields[field] | capitalize }}
                              {{ form.errors.messages[field] }}
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
            
              <div class="form-group">
                <label class="hidden" for="password">{{ 'customer.reset_password.password' | t }}</label>
                <input
                  type="password"
                  class="form-control input-md"
                  name="customer[password]"
                  id="password"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="password-error-{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'customer.reset_password.password' | t }}"
                >
              </div>
              <div class="form-group">
                <label class="hidden" for="password_confirmation">
                  {{- 'customer.reset_password.password_confirm' | t -}}
                </label>
                <input
                  type="password"
                  class="form-control input-md"
                  name="customer[password_confirmation]"
                  id="password_confirmation"
                  {% if form.errors contains 'password_confirmation' %}
                    aria-invalid="true"
                    aria-describedby="password_confirmation-error"
                  {% endif %}
                  placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                >
              </div>
              {% liquid
                assign buttonText = 'customer.reset_password.submit' | t
                render 'button' type: 'button', button_size: section.settings.btn_size, button_text: buttonText
              %}
            {%- endform -%}
          </div>
        </div>
      </div>
      {% if section.settings.heading != blank or section.settings.description != blank or section.settings.image != blank  %}
      <div class="col-12 col-sm-12 col-md-5 col-lg-6">
        {% if section.settings.image != blank %}
          <div class="account-background-img d-block d-md-none">
            {% render 'image', image: section.settings.image %}
          </div>
          {% endif %}
          {% if section.settings.heading != blank or section.settings.description != blank %}
            <div class="right-side-content">
              <div class="customer-page-content text-{{ section.settings.content_alignment }}">
                {%- if section.settings.heading != blank -%} 
                {%- capture sectionhighlightPrefix -%}
                  <strong class="highlight-text">
                {%- endcapture -%}

                {%- capture sectionhighlightSuffix -%}
                  </strong>
                {%- endcapture -%}
                  <{{ section.settings.content_seo_heading }} class="customer-page-title {{ section.settings.content_heading_size }}">
                    {{- section.settings.heading | replace: "<strong>", sectionhighlightPrefix | replace: "</strong>", sectionhighlightSuffix -}}
                  </{{ section.settings.content_seo_heading }}>
              {% endif %}
              {%- if section.settings.description != blank -%} 
                <p class="customer-page-desc">
                  {{ section.settings.description | newline_to_br }}
                </p>
              {% endif %}
              </div>
            </div>
          {% endif %}
      </div>
    {% endif %}
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}.shopify-section {
    --top-spacer:{{ section.settings.top_space_desktop }}px;
    --bottom-spacer:{{ section.settings.bottom_space_desktop }}px;
    --overlay-background:{{ section.settings.overlay_color }};
    --overlay-opacity:{{ section.settings.overlay_opacity | divided_by:100.0 }};
    --overlay-heading:{{ section.settings.overlay_heading_color }};
    --overlay-text:{{ section.settings.overlay_description_color }};
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --top-spacer:{{ section.settings.top_space_mobile }}px;
      --bottom-spacer:{{ section.settings.bottom_space_mobile }}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "class": "account main-reset-password",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.common.general_labels.heading_size",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:global.common.general_labels.heading_tag",
      "info": "t:global.common.infos.seo_heading.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "btn_size",
      "default": "regular",
      "label": "t:global.common.general_labels.button_size",
      "options": [
        {
          "value": "regular",
          "label": "t:global.common.size.value.regular"
        },
        {
          "value": "small",
          "label": "t:global.common.size.value.small"
        },
        {
          "value": "medium",
          "label": "t:global.common.size.value.medium"
        },
        {
          "value": "large",
          "label": "t:global.common.size.value.large"
        }
      ]
    },
    {
      "type": "header",  
      "content": "t:global.common.general_labels.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-login.settings.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:global.common.general_labels.heading"
    },
    {
      "type": "select",
      "id": "content_heading_size",
      "label": "t:global.common.general_labels.heading_size",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_seo_heading",
      "label": "t:global.common.general_labels.heading_tag",
      "info": "t:global.common.infos.seo_heading.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:global.common.general_labels.description"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:sections.collection-carousel.settings.content_alignment.label",
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:global.header.color_section.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.header.color_scheme.label"
    },
    {
      "type": "paragraph",
      "content": "t:global.common.general_labels.content"
    },
    {
      "type": "color",
      "id": "overlay_heading_color",
      "label": "t:global.common.general_labels.heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_description_color",
      "label": "t:global.common.general_labels.description",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:global.common.general_labels.overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:global.common.general_labels.overlay_opacity",
      "default": 15,
      "max": 100,
      "min": 0,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:global.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.top_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.bottom_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.top_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.bottom_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
