<link rel="preload" as="style" href="{{ 'account.css' | asset_url }}">
{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="account-pages section-container">
  <div class="account-main-header">
    <div class="container">
      <div class="main-account-heading">
        <h4 class="main-account-heading-text">
          {% if section.settings.heading != blank %}
            {{ section.settings.heading }}
          {% else %}
            {{ 'customer.account.title' | t -}}
          {%- endif %}
        </h4>
        <a href="{{ routes.account_logout_url }}" class="logout text-underline">{{ 'customer.log_out' | t }}</a>
      </div>
      {% render 'account-header' %}
    </div>
  </div>
  <div class="container-sm">

    <div class="main-account-content">
      <div class="order-history">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="order-detail-content">
              <div class="order-detail-info">
                <h5 class="order-detail-heading">{{ 'customer.order.title' | t: name: order.name }}</h5>
                {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
                <p class="order-detail-desc text-small">({{ 'customer.order.date_html' | t: date: order_date }})</p>
              </div>
              <div class="table-main">
                <table class="order-table order-detail-table">
                  <thead>
                    <th id="ColumnProduct" scope="col">{{ 'customer.order.product' | t }}</th>
                    <th id="ColumnPrice" scope="col">{{ 'customer.order.price' | t }}</th>
                    <th id="ColumnQuantity" scope="col">{{ 'customer.order.quantity' | t }}</th>
                    <th id="ColumnTotal" scope="col">{{ 'customer.order.total' | t }}</th>
                  </thead>
                  <tbody>
                    {%- for line_item in order.line_items -%}
                      <tr>
                        <td id="Row{{ line_item.key }}">
                          <div class="order-product-info-wrapper">
                            {% if line_item.image != blank %}
                              <a href="{{ line_item.product.url }}" class="small-product-img">
                                <div
                                  class="media-box"
                                  style="--image-ratio:{{ 1 | divided_by: line_item.image.aspect_ratio | times: 100 }}%"
                                >
                                  <img src="{{ line_item.image | image_url: width: 100 }}" width="100" height="auto" alt="{{ line_item.title | strip_html }}" loading="lazy">
                                </div>
                              </a>
                            {% endif %}
                            <div class="order-product-detail">
                              <a href="{{ line_item.product.url }}" class="product-title {{ settings.font_type }}-font">
                                {{- line_item.title | strip_html -}}
                              </a>
                              {%- unless line_item.product.has_only_default_variant -%}
                                <p class="product-variant-title text-small">{{ line_item.variant.title }}</p>
                              {%- endunless -%}
                              {%- if line_item.selling_plan_allocation != null -%}
                                <p class="product-variant-title text-small">
                                  {{ line_item.selling_plan_allocation.selling_plan.name }}
                                </p>
                              {%- endif -%}
                              {%- if line_item.line_level_discount_allocations != blank -%}
                                <div class="order-discount">
                                  {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                    <p>
                                      <strong>{{- discount_allocation.discount_application.title }}</strong> (<span
                                        >-{{ discount_allocation.amount | money -}}</span
                                      >)
                                    </p>
                                  {%- endfor -%}
                                </div>
                              {%- endif -%}
                            </div>
                          </div>
                        </td>
                        <td data-label="{{ 'customer.order.price' | t }}">
                          {%- if line_item.original_price != line_item.final_price
                            or line_item.unit_price_measurement
                          -%}
                            {%- if line_item.original_price != line_item.final_price -%}
                              <div class="order-price">
                                <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                <span class="product-actual-price">{{ line_item.original_price | money }}</span>
                                <span class="hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                <span class="product-compare-price">{{ line_item.final_price | money }}</span>
                              </div>
                            {%- else -%}
                              <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
                              <span>{{ line_item.original_price | money }}</span>
                            {%- endif -%}
                            {%- if line_item.unit_price_measurement -%}
                              <div class="unit-price">
                                {%- capture unit_price_separator -%}
                                  <span aria-hidden="true">/</span><span class="hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                {%- endcapture -%}
                                {%- capture unit_price_base_unit -%}
                                  {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                    {{- line_item.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ line_item.unit_price_measurement.reference_unit }}
                                {%- endcapture -%}
                                <span data-unit-price>{{ line_item.unit_price | money }}</span>
                                {{- unit_price_separator -}}
                                {{- unit_price_base_unit -}}
                              </div>
                            {%- endif -%}
                          {%- else -%}
                            <span>{{ line_item.final_price | money }}</span>
                          {%- endif -%}
                        </td>
                        <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                        <td data-label="{{ 'customer.order.total' | t }}">
                          {%- if line_item.original_line_price != line_item.final_line_price -%}
                            <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
                            <span class="product-actual-price">{{ line_item.original_line_price | money }}</span>
                            <span class="hidden">{{ 'products.product.price.sale_price' | t }}</span>
                            <span class="product-compare-price">{{ line_item.final_line_price | money }}</span>
                          {%- else -%}
                            <span>{{ line_item.original_line_price | money }}</span>
                          {%- endif -%}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="order-total-summary">
                <div class="order-summary-item" data-label="{{ 'customer.order.subtotal' | t }}">
                  <span class="">{{ 'customer.order.subtotal' | t }}</span>
                  <strong class="">{{ order.line_items_subtotal_price | money }}</strong>
                </div>
                {%- if order.cart_level_discount_applications != blank -%}
                  <div data-label="{{ 'customer.order.subtotal' | t }}">
                    {%- for discount_application in order.cart_level_discount_applications -%}
                      <span class="discount">
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.92896 0L12.1162 0.884384L13 7.07195L7.25466 12.817C7.13745 12.9342 6.9785 13 6.81276 13C6.64703 13 6.48808 12.9342 6.37086 12.817L0.183002 6.62944C0.065826 6.51224 0 6.35329 0 6.18756C0 6.02183 0.065826 5.86289 0.183002 5.74568L5.92896 0ZM7.69657 5.3038C7.81267 5.41986 7.9505 5.51191 8.10218 5.57471C8.25386 5.6375 8.41642 5.66981 8.58059 5.66978C8.74475 5.66975 8.90731 5.63739 9.05897 5.57454C9.21062 5.51169 9.34842 5.41959 9.46448 5.30349C9.58054 5.18739 9.6726 5.04957 9.7354 4.8979C9.7982 4.74623 9.8305 4.58367 9.83047 4.41951C9.83044 4.25535 9.79808 4.09281 9.73523 3.94116C9.67238 3.78951 9.58027 3.65172 9.46417 3.53566C9.34807 3.4196 9.21024 3.32755 9.05856 3.26476C8.90688 3.20196 8.74431 3.16966 8.58015 3.16969C8.2486 3.16975 7.93065 3.3015 7.69625 3.53597C7.46185 3.77044 7.3302 4.08842 7.33026 4.41995C7.33032 4.75149 7.46208 5.06942 7.69657 5.3038Z" fill="currentColor"/>
                        </svg>
                        {{ 'customer.order.discount' | t }}(
                        {{- discount_application.title -}}
                        )
                      </span>
                      <strong class="">{{ discount_application.total_allocated_amount | money }}</strong>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
                {%- for shipping_method in order.shipping_methods -%}
                  <div
                    class="order-summary-item"
                    data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})"
                  >
                    <span class="">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</span>
                    <strong class="">{{ shipping_method.price | money }}</strong>
                  </div>
                {%- endfor -%}
                {%- for tax_line in order.tax_lines -%}
                  <div class="order-summary-item">
                    <span class="">
                      {{- 'customer.order.tax' | t }} ({{ tax_line.title }}
                      {{ tax_line.rate | times: 100 }}%)</span
                    >
                    <strong class="">{{ tax_line.price | money }}</strong>
                  </div>
                {% endfor %}
                <div class="order-summary-item">
                  <span class="">{{ 'customer.order.total' | t }}</span>
                  <strong class="">{{ order.total_price | money }}</strong>
                </div>
                <div class="order-back-button">
                                      
                  {% liquid
                    assign buttonText = 'customer.order.back' | t
                    render 'button', class: 'button', button_link: routes.account_url , button_size: 'default', button_text: buttonText
                  %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
            <div class="order-payment-detail">
              <div class="order-payment-card">
                <div class="order-payment-item">
                  <h6 class="text-large">{{ 'customer.order.billing_address' | t }}</h6>
                  <address class="text-small">
                    {{ order.billing_address | format_address }}
                  </address>
                </div>
                <div class="order-payment-status">
                  <span> {{ 'customer.order.payment_status' | t }}:</span>
                  <span class="payment-status">{{ order.financial_status_label }}</span>
                </div>
              </div>
              <div class="order-payment-card">
                <div class="order-payment-item">
                  <h6 class="text-large">{{ 'customer.order.shipping_address' | t }}</h6>
                  <address class="text-small">
                    {{ order.shipping_address | format_address }}
                  </address>
                </div>
                <div class="order-payment-status">
                  <span>{{ 'customer.order.fulfillment_status' | t }}: </span>
                  <span class="payment-status">{{ order.fulfillment_status_label }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}{
    --top-spacer: {{ section.settings.top_space_desktop }}px;
    --bottom-spacer: {{ section.settings.bottom_space_desktop }}px;
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
  	--top-spacer: {{ section.settings.top_space_mobile }}px !important;
  	--bottom-spacer: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.main-order.name",
  "class": "main-order",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:global.common.general_labels.heading",
      "default": "My Account"
    },
    {
      "type": "header",
      "content": "t:global.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.top_space_desktop.label",
      "default": 85,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.bottom_space_desktop.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.top_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.bottom_space_mobile.label",
      "default": 35,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
