
{{ 'password.css' | asset_url | stylesheet_tag }}

<div class="password-main {{ section.settings.color_scheme }}-scheme section-container">
  <div class="{{ settings.container_width }}">
    <div class="passowrd-content-wrapper">
      <div class="passowrd-content-wrapper-inner">
        <div class="password-content">
          <a href="{{ routes.root_url }}" class="password-img">
            {%- if section.settings.logo_pw != blank -%}
              {%- assign image_2x_size = section.settings.logo_max_width | times: 2 | at_most: 2560 -%}
              <img
                srcset="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }} 1x, {{ section.settings.logo_pw | image_url: width: image_2x_size }} 2x"
                src="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }}"
                loading="lazy"
                class="true lazyload"
                width="{{ section.settings.logo_max_width }}"
                height="{{ section.settings.logo_max_width | divided_by : section.settings.logo_pw.aspect_ratio | round }}"
                alt="{{ section.settings.logo_pw.alt | default: shop.name | escape }}"
              >
              {% else %}
              <span>{{ shop.name }}</span>
            {% endif %}
          </a>
          {% if section.settings.heading != blank %}
            {%- capture sectionhighlightPrefix -%}
            <strong class="highlight-text">
            {%- endcapture -%}
        
          {%- capture sectionhighlightSuffix -%}
            </strong>
          {%- endcapture -%}

            <{{ section.settings.seo_heading }} class="password-heading h3"> 
            {{- section.settings.heading | replace: "<strong>", sectionhighlightPrefix | replace: "</strong>", sectionhighlightSuffix | replace: '++', '<br>' -}}
            </{{ section.settings.seo_heading }}>
            {%- else -%}

            <{{ section.settings.seo_heading }} class="password-heading h3">{{ 'general.password_page.opening_soon' | t }}</{{ section.settings.seo_heading }}>
          {%- endif -%}
          {% if section.settings.description != blank %}
            <p class="password-desc">{{ section.settings.description | newline_to_br }}</p>
          {% endif %}
          {%- if section.settings.show_newsletter -%}
            <div class="password-form-wrapper">
              {% form 'customer' %}
                {%- if form.errors -%}
                  <div class="newsletter-form__message error-message no-bg" id="Newsletter-error--{{ section.id }}">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </div>
                {%- endif -%}
                <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="form-group">
                  <label class="hidden" for="ContactEmail">{{ 'newsletter.label' | t }}</label>
                  <input
                    class="form-control input-md"
                    type="email"
                    name="contact[email]"
                    id="ContactEmail"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    placeholder="{{ 'newsletter.label' | t }}"
                    value="{{ form.email }}"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                    required
                  >
                </div>

                {% liquid
                  assign buttonAttributes = 'type="submit"  name="commit"'
                  assign buttonText = 'sections.password_page.login_form_submit' | t
                  render 'button' type: 'button', button_size: section.settings.btn_size, button_text: buttonText, buttonAttributes: buttonAttributes
                %}
                {% if form.posted_successfully? %}
                  <p class="success-message no-bg"> {{ 'newsletter.success' | t }} </p>
                {% endif %}
              {%- endform -%}
            </div>
          {%- endif -%}
        </div>
        {% render 'social-media' %}
        {%- if shop.password_message != blank -%}
          <div class="password-content-desc rte">
            {{ shop.password_message | newline_to_br }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="enter-password-button">
    <a href="#password" class="enter-password-link text-underline" data-popup-header>{{ 'sections.password_page.login_password_button' | t }}</a>
  </div>
  <div id="password" class="password-popup {{ section.settings.color_scheme }}-scheme" data-popup-body>

    <div class="container">
      <div class="password-popup-content">
        <div class="password-popup-content-inner">
          <a href="#" class="password-popup-close arrow-btn small-arrow-btn " aria-label="Close" data-popup-close>
            <svg class="arrow-btn-icon1" x="0px" y="0px" viewBox="0 0 11.8 11.8" style="enable-background:new 0 0 11.8 11.8;" fill="currentColor">
              <path d="M11.5,10.6L6.7,5.9l4.7-4.7c0.2-0.2,0.2-0.6,0-0.8c-0.1-0.1-0.3-0.2-0.4-0.2c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.2L5.9,5.1
                 L1.2,0.3c-0.2-0.2-0.6-0.2-0.8,0c-0.2,0.2-0.2,0.6,0,0.8l4.7,4.7l-4.7,4.7c-0.1,0.1-0.2,0.3-0.2,0.4c0,0.3,0.3,0.6,0.6,0.6
                 c0.2,0,0.3-0.1,0.4-0.2l4.7-4.7l4.7,4.7c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2C11.7,11.3,11.7,10.9,11.5,10.6z"></path>
             </svg>
             <svg class="arrow-btn-icon2" x="0px" y="0px" viewBox="0 0 11.8 11.8" style="enable-background:new 0 0 11.8 11.8;" fill="currentColor">
              <path d="M11.5,10.6L6.7,5.9l4.7-4.7c0.2-0.2,0.2-0.6,0-0.8c-0.1-0.1-0.3-0.2-0.4-0.2c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.2L5.9,5.1
                 L1.2,0.3c-0.2-0.2-0.6-0.2-0.8,0c-0.2,0.2-0.2,0.6,0,0.8l4.7,4.7l-4.7,4.7c-0.1,0.1-0.2,0.3-0.2,0.4c0,0.3,0.3,0.6,0.6,0.6
                 c0.2,0,0.3-0.1,0.4-0.2l4.7-4.7l4.7,4.7c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2C11.7,11.3,11.7,10.9,11.5,10.6z"></path>
             </svg>
          </a>
          {%- if section.settings.password_heading != blank -%}
            {%- capture pswsectionhighlightPrefix -%}
             <strong class="highlight-text">
            {%- endcapture -%}
            {%- capture pswsectionhighlightSuffix -%}
              </strong>
            {%- endcapture -%}
             <{{ section.settings.seo_heading_1 }}  class="password-heading h3">
              {{- section.settings.password_heading | replace: "<strong>", pswsectionhighlightPrefix | replace: "</strong>", pswsectionhighlightSuffix | replace: '++', '<br>' -}}
            </{{ section.settings.seo_heading_1 }} >
            {%- endif -%}
            {%- if section.settings.password_description != blank -%}
              <p class="password-desc ">{{ section.settings.password_description | newline_to_br   }}</p>
            {%- endif -%}
          <div class="password-form-wrapper">
            {% form 'storefront_password', class: 'password-form' %}
              {% if form.errors %}
                <div id="form-password-error" class="error-message no-bg">
                  {{ form.errors | default_errors }} 
                </div>
              {%- endif -%}
              <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="form-group">
                <label class="hidden" for="Password"> {{- 'general.password_page.login_form_password_label' | t -}} </label>
                <input
                  class="form-control input-md"
                  type="password"
                  name="password"
                  id="Password"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  value=""
                  required
                >
                </div>
                {% liquid
                  assign buttonAttributes = 'type="submit"'
                  assign buttonText = 'sections.password_page.password_button' | t 
                  render 'button' type: 'button', button_size: section.settings.btn_size_1, button_text: buttonText, buttonAttributes: buttonAttributes
                %}
               
            {% endform %}
          </div>
          <p class="password-content-desc text-center">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}.shopify-section {
    --highlight-text: {{ section.settings.highlighted_color }};
  }
</style>
  
  {% schema %}
{
  "name": "t:sections.main-password.name",
  "class": "password",
  "templates": [
    "password"
  ],
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_pw",
      "label": "t:sections.main-password.settings.logo.label",
      "info": "t:sections.main-password.settings.logo.info"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:sections.main-password.settings.logo_max_width.label",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:global.header.content_section.label"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:sections.main-password.settings.show_newsletter.label",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:global.common.general_labels.heading",
      "info": "t:global.common.infos.heading.label",
      "default": "Opening soon"
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:global.common.general_labels.heading_tag",
      "info": "t:global.common.infos.seo_heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:global.common.general_labels.description",
      "default": "Find out when we open"
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "t:global.common.general_labels.button_size",
      "default": "regular",
      "options": [
        {
          "value": "regular",
          "label": "t:global.common.size.value.regular"
        },
        {
          "value": "small",
          "label": "t:global.common.size.value.small"
        },
        {
          "value": "medium",
          "label": "t:global.common.size.value.medium"
        },
        {
          "value": "large",
          "label": "t:global.common.size.value.large"
        }
      ]
    },
    {
      "type":"paragraph",
      "content":"t:global.header.password.label"
    },
    {
      "type": "inline_richtext",
      "id": "password_heading",
      "label": "Heading",
      "info": "t:global.common.infos.heading.label",
      "default": "Enter password"
    },
    {
      "type": "select",
      "id": "seo_heading_1",
      "label": "t:global.common.general_labels.heading_tag",
      "info": "t:global.common.infos.seo_heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "password_description",
      "label": "t:global.common.general_labels.description"
    },
    {
      "type": "select",
      "id": "btn_size_1",
      "label": "t:global.common.general_labels.button_size",
      "default": "regular",
      "options": [
        {
          "value": "regular",
          "label": "t:global.common.size.value.regular"
        },
        {
          "value": "small",
          "label": "t:global.common.size.value.small"
        },
        {
          "value": "medium",
          "label": "t:global.common.size.value.medium"
        },
        {
          "value": "large",
          "label": "t:global.common.size.value.large"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:global.header.color_section.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.header.color_scheme.label"
    },
    {
      "type": "color",
      "id": "highlighted_color",
      "default": "#757575",
      "label": "t:global.common.general_labels.highlight_color"
    }
    
  ]
}
{% endschema %}
  