<link rel="preload" as="style" href="{{ 'rich-text.css' | asset_url }}">
{{ 'rich-text.css' | asset_url | stylesheet_tag }}
<div class="section-container {{ section.settings.color_scheme }}-scheme {% if section.settings.make_section_rounded %}section-rounded{% endif %}">
  <div class="{{ settings.container_width }}">
    <div class="rich-text-content {{ section.settings.content_alignment }} {{ section.settings.content_width }}-width content-{{ section.settings.content_postion }}" {% if settings.enable_animation %}data-aos="fade-up" data-aos-duration="1000"{% endif %}>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.heading != blank %}

              {%- capture sectionhighlightPrefix -%}
                <strong class="highlight-text">
              {%- endcapture -%}

              {%- capture sectionhighlightSuffix -%}
                </strong>
              {%- endcapture -%}

              <{{ block.settings.seo_heading }} class="rich-text-heading {{ block.settings.heading_size }} rte" id="rich-text-heading-{{ block.id }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: "<strong>", sectionhighlightPrefix | replace: "</strong>", sectionhighlightSuffix | replace: '++', '<br>' }}
              </{{ block.settings.seo_heading }}>
            {% endif %}
          {% when 'text' %}
            {% if block.settings.text != blank %}
              <div class="rich-text-description rte" {{ block.shopify_attributes }}>
                {{ block.settings.text | replace: '<p></p>', '<br>' }}
              </div>
            {% endif %}
          {% when 'button' %}
            {% if block.settings.link != blank and block.settings.text != blank %}
              <div class="rich-text-button" {{ block.shopify_attributes }}>
                {% render 'button', button_link: block.settings.link , button_style: block.settings.button_style , button_size: block.settings.button_size, button_text: block.settings.text %}
              </div>
            {% endif %}
          {% when 'divider' %}
            <div class="rich-text-divider" {{ block.shopify_attributes }}>
              <hr class="divider">
            </div>
          {% when 'image' %}
            <div class="rich-text-image" id="rich-text-image-{{ block.id }}" {{ block.shopify_attributes }}>
            {%if block.settings.image != blank %}
              <div class="media-box" style="--image-ratio:{{ 1 | divided_by : block.settings.image.aspect_ratio | times: 100 }}%">
                {% render 'image', image: block.settings.image %} 
              </div>
            {% else %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            </div>  
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}{
    {% if section.settings.make_section_rounded %}
      background:{{ section.settings.section_background }};
    {% endif %}
    --top-spacer:{{ section.settings.top_space_desktop }}px;
    --bottom-spacer:{{ section.settings.bottom_space_desktop }}px;
    --highlight-text: {{ section.settings.highlighted_color }};
  }

  @media only screen and (max-width:767px){
    #shopify-section-{{ section.id }}{
      --top-spacer:{{ section.settings.top_space_mobile }}px;
      --bottom-spacer:{{ section.settings.bottom_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        #rich-text-heading-{{ block.id }} {
          --highlight-text: {{ block.settings.highlighted_color }};
        }
        {% when 'image' %}
          #rich-text-image-{{ block.id }} {
            --rich-text-img-width: {{ block.settings.image_size | append: '%' }};
          }
        {% endcase %}
    {% endfor %}
</style>
{% schema %}
{
  "name": "t:sections.rich_text.name",
  "tag": "section",
  "class": "rich-text",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:global.common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:global.common.section_visibility.options.always",
          "value": "always"
        },
        {
          "label": "t:global.common.section_visibility.options.small",
          "value": "small"
        },
        {
          "label": "t:global.common.section_visibility.options.large",
          "value": "large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "make_section_rounded",
      "label": "t:global.common.general_labels.make_section_rounded",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.rich_text.settings.content.content"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.rich_text.settings.content_width.label",
      "default": "large",
      "options": [
        {
          "value": "small",
          "label": "t:global.common.size.value.small"
        },
        {
          "value": "medium",
          "label": "t:global.common.size.value.medium"
        },
        {
          "value": "large",
          "label": "t:global.common.size.value.large"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.rich_text.settings.alignment.label",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:global.common.alignments.left"
        },
        {
          "value": "text-center",
          "label": "t:global.common.alignments.center"
        },
        {
          "value": "text-right",
          "label": "t:global.common.alignments.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_postion",
      "label": "t:sections.rich_text.settings.content_postion.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:global.common.alignments.left"
        },
        {
          "value": "center",
          "label": "t:global.common.alignments.center"
        },
        {
          "value": "right",
          "label": "t:global.common.alignments.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.header.color_section.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.header.color_scheme.label"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "t:global.common.section_background.label",
      "info": "t:global.common.section_background.info"
    },
    {
      "type": "header",
      "content": "t:global.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.top_space_desktop.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.bottom_space_desktop.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.top_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.bottom_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:global.common.general_labels.heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:global.common.general_labels.text",
          "info": "t:global.common.infos.heading.label",
          "default": "Rich text heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.common.general_labels.heading_size",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:global.common.general_labels.heading_tag",
          "info": "t:global.common.infos.seo_heading.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:global.header.color_singular_section.label"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "default": "#EFF341",
          "label": "t:global.common.general_labels.highlight_color"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:global.common.general_labels.description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:global.common.general_labels.text",
          "default": "<p>Use this description about your brand with your customers.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:global.header.button_section.label",
      "settings": [
        {
          "type": "select",
          "id": "button_style",
          "label": "t:global.common.style.label",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "t:global.common.style.value.solid"
            },
            {
              "value": "outline",
              "label": "t:global.common.style.value.outline"
            },
            {
              "value": "link",
              "label": "t:global.common.style.value.link"
            },
            {
              "value": "animate",
              "label":"t:global.common.style.value.animate"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:global.common.general_labels.text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:global.common.general_labels.link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.rich_text.settings.button_size.label",
          "default": "medium",
          "options": [
            {
              "value": "regular",
              "label": "t:global.common.size.value.regular"
            },
            {
              "value": "small",
              "label": "t:global.common.size.value.small"
            },
            {
              "value": "medium",
              "label": "t:global.common.size.value.medium"
            },
            {
              "value": "large",
              "label": "t:global.common.size.value.large"
            }
          ]
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.rich_text.settings.divider.label"
    },
    {
      "type": "image",
      "name": "t:global.common.general_labels.image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.common.general_labels.image"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:sections.rich_text.settings.image_size.label",
          "default": 40,
          "min": 20,
          "max": 100,
          "unit": "%",
          "step": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
