<div id="pickup-side-drawer" class="side-drawer pickup-availability-side-drawer {{ settings.drawer_color_scheme }}-scheme position-bottom{% if settings.enable_blur_effect %} background-blur{% endif %}" data-sidedrawer-wrapper>
    <div class="close-fullwidth" data-sidedrawer-close >
    </div>
    <div class="side-drawer-panel">
      <div class="side-drawer-inner">
        <button class="drawer-close" data-sidedrawer-close aria-label="close">
          {% render 'theme-icons', theme_icon: 'drawer_close' %}
        </button>
        <div class="pickup-availability-drawer-content">
          <div class="container">
            <div class="pickup-availability-drawer-header">
              <h4> {{- product.title | escape }} </h4>
            </div>
            <div class="pickup-availability-drawer-body">
              <div class="slider pickup-availability-location-list"  data-pickup-location-list data-slick='{
                  "infinite": false,
                  "slidesToShow":4,
                  "slidesToScroll": 1,
                  "autoplay":false,
                  "arrows": true,
                  "responsive": [
                    {
                      "breakpoint": 991,
                      "settings": {
                        "slidesToShow": 2  
                      }
                    },
                    {
                      "breakpoint": 767,
                      "settings": {
                          "slidesToShow": 1     
                      }
                    }
                  ]
                }'
             >
                
                {%- for pickuplocation in pickupAvailabilities -%}
                  <div class="pickup-availability-list-item">
                    <h6 class="pickup-availability-title">
                      {{- pickuplocation.location.name | escape -}}
                    </h6>
                      <p class="pickup-availability-preview">
                        {%- if pickuplocation.available -%}
                          {{ 'products.product.pickup_availability.pick_up_available' | t }},
                          {{- pickuplocation.pick_up_time | downcase -}}
                        {% else %}
                          {{ 'products.product.pickup_availability.unavailable' | t }}
                        {% endif %}
                      </p>
                      {%- assign address = pickuplocation.location.address -%}
                      <address class="pickup-availability-address">
                        {{ address | format_address }}
                        {%- if address.phone.size > 0 -%}
                          <a href="tel:{{ address.phone }}" class="text-underline">{{ address.phone }}</a>
                        {%- endif -%}
                      </address>
                    </div>
                {%- endfor -%}
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>  
</div>


