<script>
  var invAvailableStatus = '{{ block.settings.inventory_available_status }}';
  var invLowStatus = '{{ block.settings.inventory_less_status }}';
  var minInventroyQty = {{ block.settings.minimun_inventory }};
</script>
{%- liquid
  assign variantQuantity = current_variant.inventory_quantity
  assign showBar = false
  assign hideInventoryStatus = false
  if variantQuantity > 0 and variantQuantity <= block.settings.minimun_inventory and current_variant.inventory_policy == 'deny'
    assign showBar = true
  endif
  if variantQuantity <= 0
    assign hideInventoryStatus = true
  endif
-%}
<div class="product-inventory" data-product-inventory-bar-wrapper
  {{ block.shopify_attributes }}
  id="product-inventory-{{ section.id }}-{{ product.id }}"
>
  {% comment %} <span class="inventroy-stock-text text-small" data-inventory-message>
    {% liquid
      if showBar
        assign lowInventoryContent = variantQuantity | prepend: '<strong>' | append: '</strong>'
        echo block.settings.inventory_less_status | replace: '||inventory||', lowInventoryContent
      else
        echo block.settings.inventory_available_status
      endif
    -%}
  </span>
  <span class="inventroy-status-bar {% unless showBar %}hide-bar{% endunless %}" data-quantity="{{ current_variant.inventory_quantity }}" data-inventory-check>
  </span> {% endcomment %}

  {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
    {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
      {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.minimun_inventory -%}
        <span class="inventroy-lowstock-text text-small" data-inventory-message>
          {% if block.settings.inventory_less_status != blank %}
              {%  liquid 
                if showBar
                  assign lowInventoryContent = variantQuantity | prepend: '<strong>' | append: '</strong>'
                  echo block.settings.inventory_less_status | replace: '||inventory||', lowInventoryContent
                endif
              %}
            {% else %}
          {{- 'products.product.inventory_low_stock' | t -}}
          {%- endif -%}
        </span>
      {%- else -%}
      <span class="inventroy-stock-text text-small" data-inventory-message>
        {% if block.settings.inventory_available_status != blank %}
          {{ block.settings.inventory_available_status }}
          {% else %}
          {{- 'products.product.inventory_in_stock' | t -}}
        {%- endif -%}
        </span>
      {%- endif -%}
    {%- else -%}
    <span class="inventroy-outstock-text text-small" data-inventory-message>
      {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
  
        {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
      {%- else -%}
        {{- 'products.product.inventory_out_of_stock' | t -}}
      {%- endif -%}
    </span>
    {%- endif -%}
    {% if showBar != true %}
    <span class="inventroy-status-bar {% unless showBar %}hide-bar{% endunless %}" data-quantity="{{ product.selected_or_first_available_variant.inventory_quantity }}" data-inventory-check>
      </span>
    {% endif %}
  {%- endif -%}
  </div>

