{% if settings.social_facebook or settings.social_tiwtter or settings.social_pinterest %}
<div class="social-icon-box">
  <ul class="list-inline social-icons-list">
    {% if settings.social_facebook %}
    <li class="social-icons-item">
      <a class="social-icons-link" target="_blank" title="{{ 'general.social.links.facebook' | t }}" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink | strip_html }}">
        <svg width="9" height="17" viewBox="0 0 9 17" fill="none">
          <path d="M7.37151 2.82202H9V0.119025C8.21153 0.0385704 7.41929 -0.00115114 6.62656 2.53845e-05C4.27045 2.53845e-05 2.65929 1.41102 2.65929 3.99502V6.22202H0V9.24801H2.65929V17H5.84697V9.24801H8.49759L8.89605 6.22202H5.84697V4.29252C5.84697 3.40002 6.08951 2.82202 7.37151 2.82202Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tiwtter %}
    <li class="social-icons-item">
      <a class="social-icons-link" target="_blank" title="{{ 'general.social.links.twitter' | t }}" href="//twitter.com/share?text={{ share_title | url_param_escape | strip_html }}&amp;url={{ shop.url | append: share_permalink | strip_html }}">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M15.3887 3H17.9963L12.3008 9.44261L19 18.2105H13.754L9.6452 12.8935L4.94379 18.2105H2.33616L8.42734 11.3183L2 3H7.37853L11.0936 7.86071L15.3887 3ZM14.4743 16.6657H15.9189L6.5948 4.46401H5.04463L14.4743 16.6657Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest %}
    <li class="social-icons-item"> 
      <a class="social-icons-link" target="_blank" title="{{ 'general.social.links.pinterest' | t }}" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink | strip_html }}&amp;media={{ share_image | image_url: width: 1024, height: 1024 }}&amp;description={{ share_title | url_param_escape | strip_html }}">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M11.6597 2.07934C9.62622 1.79957 7.56018 2.26511 5.8431 3.38998C4.12601 4.51485 2.87386 6.22309 2.31784 8.19926C1.76182 10.1754 1.93949 12.286 2.81804 14.1415C3.69659 15.9968 5.21669 17.4717 7.09764 18.2936C7.04677 17.6406 7.09346 16.9837 7.23617 16.3445C7.3934 15.6315 8.33759 11.7011 8.33759 11.7011C8.14957 11.2796 8.05562 10.8222 8.06224 10.3607C8.06224 9.09848 8.79057 8.15671 9.69652 8.15671C9.85928 8.15434 10.0206 8.18704 10.1696 8.25261C10.3186 8.31817 10.4517 8.41506 10.5599 8.53667C10.6682 8.65828 10.7489 8.80177 10.7967 8.95738C10.8445 9.11299 10.8583 9.27708 10.837 9.43848C10.837 10.2035 10.3458 11.3611 10.0892 12.4474C10.0384 12.6466 10.0352 12.855 10.0798 13.0557C10.1243 13.2563 10.2154 13.4438 10.3456 13.6028C10.4759 13.7618 10.6416 13.8881 10.8296 13.9713C11.0175 14.0545 11.2224 14.0924 11.4277 14.0819C13.0408 14.0819 14.1218 12.0156 14.1218 9.57617C14.1218 7.70621 12.8835 6.30545 10.6008 6.30545C10.0546 6.28422 9.50988 6.37423 8.99958 6.57001C8.48928 6.76578 8.02409 7.06324 7.63225 7.44432C7.24041 7.82541 6.93009 8.28216 6.72015 8.78686C6.51021 9.29155 6.40501 9.83366 6.41096 10.3803C6.38662 10.9866 6.58221 11.5812 6.96167 12.0547C7.03257 12.1076 7.08434 12.1822 7.10918 12.2672C7.13401 12.3521 7.13056 12.4428 7.09935 12.5256C7.06025 12.682 6.96167 13.0551 6.92257 13.192C6.91444 13.2384 6.89552 13.2822 6.86735 13.32C6.83918 13.3577 6.80252 13.3884 6.76036 13.4094C6.71819 13.4303 6.67168 13.4412 6.62457 13.441C6.57747 13.4406 6.53107 13.4293 6.48914 13.4079C5.31293 12.937 4.75882 11.6424 4.75882 10.1644C4.75882 7.74446 6.78489 4.84773 10.8387 4.84773C14.0648 4.84773 16.2099 7.20813 16.2099 9.73257C16.2099 13.0551 14.3597 15.5532 11.6258 15.5532C11.2171 15.5663 10.8118 15.4761 10.4472 15.291C10.0827 15.1059 9.77073 14.8318 9.54015 14.4942C9.54015 14.4942 9.04893 16.4627 8.95204 16.835C8.75428 17.4782 8.46245 18.0886 8.08604 18.6463C8.87046 18.8843 9.68548 19.0033 10.5047 18.9999C11.6211 19.0008 12.7267 18.7815 13.7581 18.3544C14.7897 17.9274 15.7268 17.3011 16.5159 16.5113C17.305 15.7215 17.9306 14.7838 18.3569 13.7518C18.7831 12.7199 19.0016 11.6141 19 10.4976C18.999 8.44485 18.2553 6.46184 16.9065 4.91469C15.5576 3.36754 13.6946 2.36074 11.6615 2.08019L11.6597 2.07934Z" fill="currentColor"/>
        </svg>
      </a> 
    </li>
  {% endif  %}
  </ul>
</div>
{% endif %}